### 1. Attrition Prediction Project

In [521]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [522]:
import os
import kagglehub
import zipfile
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas import DataFrame
from typing import  Optional
from scipy.stats import zscore
from sklearn.model_selection import train_test_split
import feature_engine.selection  as fs
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, StandardScaler, LabelEncoder
from scipy.stats import chi2_contingency

#### 2. Data Preparation

In [523]:
def load_data(file_path: str,sep:str=None) -> Optional[DataFrame]:
    '''
    Load the dataset from a local file
    Args:
        - file_path: str: path to the file
        - sep: str: separator used in the file
    Returns:
        - Optional[DataFrame]: A pandas Dataframe contains the loaded dataset
    '''
    try:
        df = pd.read_csv(file_path,sep=sep)
        return df
    except Exception as e:
        print(f"Error: {e}")
        return None

In [524]:
data = load_data('../data/WA_Fn-UseC_-HR-Employee-Attrition.csv',sep=',')

In [525]:
data.head().T

,0,1,2,3,4
Age,41,49,37,33,27
Attrition,Yes,No,Yes,No,No
BusinessTravel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely
DailyRate,1102,279,1373,1392,591
Department,Sales,Research & Development,Research & Development,Research & Development,Research & Development
DistanceFromHome,1,8,2,3,2
Education,2,1,2,4,1
EducationField,Life Sciences,Life Sciences,Other,Life Sciences,Medical
EmployeeCount,1,1,1,1,1
EmployeeNumber,1,2,4,5,7
EnvironmentSatisfaction,2,3,4,4,1
Gender,Female,Male,Male,Female,Male
HourlyRate,94,61,92,56,40
JobInvolvement,3,2,2,3,3
JobLevel,2,2,1,1,1
JobRole,Sales Executive,Research Scientist,Laboratory Technician,Research Scientist,Laboratory Technician
JobSatisfaction,4,2,3,3,2
MaritalStatus,Single,Married,Single,Married,Married
MonthlyIncome,5993,5130,2090,2909,3468
MonthlyRate,19479,24907,2396,23159,16632
NumCompaniesWorked,8,1,6,1,9
Over18,Y,Y,Y,Y,Y
OverTime,Yes,No,Yes,Yes,No
PercentSalaryHike,11,23,15,11,12
PerformanceRating,3,4,3,3,3
RelationshipSatisfaction,1,4,2,3,4
StandardHours,80,80,80,80,80
StockOptionLevel,0,1,0,0,1
TotalWorkingYears,8,10,7,8,6
TrainingTimesLastYear,0,3,3,3,3
WorkLifeBalance,1,3,3,3,3
YearsAtCompany,6,10,0,8,2
YearsInCurrentRole,4,7,0,7,2
YearsSinceLastPromotion,0,1,0,3,2
YearsWithCurrManager,5,7,0,0,2

In [526]:
data.shape

(1470, 35)

In [527]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [528]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [529]:
def standardizing_column_names(data: DataFrame) -> DataFrame:
  ''' standardize columns names to lower case and replace spaces with underscores
      Args:
          data: DataFrame
      Returns:
          DataFrame
  
  '''
  data.columns = data.columns.str.lower().str.replace(' ', '_')
  return data

In [530]:
# test the function
data = standardizing_column_names(data)
data.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeecount',
       'employeenumber', 'environmentsatisfaction', 'gender', 'hourlyrate',
       'jobinvolvement', 'joblevel', 'jobrole', 'jobsatisfaction',
       'maritalstatus', 'monthlyincome', 'monthlyrate', 'numcompaniesworked',
       'over18', 'overtime', 'percentsalaryhike', 'performancerating',
       'relationshipsatisfaction', 'standardhours', 'stockoptionlevel',
       'totalworkingyears', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearsincurrentrole', 'yearssincelastpromotion',
       'yearswithcurrmanager'],
      dtype='object')

In [531]:
def rename_observations(data: DataFrame) -> DataFrame:
    ''' 
    This function converts all string values in categorical columns 
    lowercase and replaces spaces with underscores in a DataFrame
    Args:
        data: DataFrame
    Returns:
        DataFrame
    '''
    categorical_columns = data.select_dtypes(include=['object']).columns

    for col in categorical_columns:
        data[col] = data[col].str.lower().str.strip().str.replace(' ', '_')
    return data

In [532]:
#test the function
data = rename_observations(data)
data.head().T

,0,1,2,3,4
age,41,49,37,33,27
attrition,yes,no,yes,no,no
businesstravel,travel_rarely,travel_frequently,travel_rarely,travel_frequently,travel_rarely
dailyrate,1102,279,1373,1392,591
department,sales,research_&_development,research_&_development,research_&_development,research_&_development
distancefromhome,1,8,2,3,2
education,2,1,2,4,1
educationfield,life_sciences,life_sciences,other,life_sciences,medical
employeecount,1,1,1,1,1
employeenumber,1,2,4,5,7
environmentsatisfaction,2,3,4,4,1
gender,female,male,male,female,male
hourlyrate,94,61,92,56,40
jobinvolvement,3,2,2,3,3
joblevel,2,2,1,1,1
jobrole,sales_executive,research_scientist,laboratory_technician,research_scientist,laboratory_technician
jobsatisfaction,4,2,3,3,2
maritalstatus,single,married,single,married,married
monthlyincome,5993,5130,2090,2909,3468
monthlyrate,19479,24907,2396,23159,16632
numcompaniesworked,8,1,6,1,9
over18,y,y,y,y,y
overtime,yes,no,yes,yes,no
percentsalaryhike,11,23,15,11,12
performancerating,3,4,3,3,3
relationshipsatisfaction,1,4,2,3,4
standardhours,80,80,80,80,80
stockoptionlevel,0,1,0,0,1
totalworkingyears,8,10,7,8,6
trainingtimeslastyear,0,3,3,3,3
worklifebalance,1,3,3,3,3
yearsatcompany,6,10,0,8,2
yearsincurrentrole,4,7,0,7,2
yearssincelastpromotion,0,1,0,3,2
yearswithcurrmanager,5,7,0,0,2

In [533]:
# check for missing values
data.isna().sum()

age                         0
attrition                   0
businesstravel              0
dailyrate                   0
department                  0
distancefromhome            0
education                   0
educationfield              0
employeecount               0
employeenumber              0
environmentsatisfaction     0
gender                      0
hourlyrate                  0
jobinvolvement              0
joblevel                    0
jobrole                     0
jobsatisfaction             0
maritalstatus               0
monthlyincome               0
monthlyrate                 0
numcompaniesworked          0
over18                      0
overtime                    0
percentsalaryhike           0
performancerating           0
relationshipsatisfaction    0
standardhours               0
stockoptionlevel            0
totalworkingyears           0
trainingtimeslastyear       0
worklifebalance             0
yearsatcompany              0
yearsincurrentrole          0
yearssincelastpromotion     0
yearswithcurrmanager        0
dtype: int64

In [534]:
# check for duplicated rows
data.duplicated().sum()

0

### Removing redundant features

In [535]:
# select categorical  columns( Nominal and Ordinal)
categorical_features = data.select_dtypes(include=['object'])
categorical_features.head()

,attrition,businesstravel,department,educationfield,gender,jobrole,maritalstatus,over18,overtime
0,yes,travel_rarely,sales,life_sciences,female,sales_executive,single,y,yes
1,no,travel_frequently,research_&_development,life_sciences,male,research_scientist,married,y,no
2,yes,travel_rarely,research_&_development,other,male,laboratory_technician,single,y,yes
3,no,travel_frequently,research_&_development,life_sciences,female,research_scientist,married,y,yes
4,no,travel_rarely,research_&_development,medical,male,laboratory_technician,married,y,no

In [536]:
categorical_features.nunique()

attrition         2
businesstravel    3
department        3
educationfield    6
gender            2
jobrole           9
maritalstatus     3
over18            1
overtime          2
dtype: int64

In [553]:
def remove_high_cardinality_columns(data:DataFrame, threshold:int=10):
    """
    Remove high-cardinality categorical columns from a DataFrame.

    Args:
        - data: The DataFrame containing categorical features.
        - threshold (int): The maximum number of unique values a column can have to avoid being removed.

    Returns:
          - pd.DataFrame: A DataFrame with high-cardinality columns removed.
          - list: The list of columns removed.
    """
    high_cardinality = [col for col in data.columns if data[col].nunique() > threshold]
    #df_reduced = data.drop(columns=high_cardinality)
    
    #print(f"Removed {len(high_cardinality)} high-cardinality columns: {high_cardinality}")
    return high_cardinality

In [554]:
# test the function
cardinal_columns = remove_high_cardinality_columns(categorical_features, threshold=10)
cardinal_columns

[]

In [555]:
categorical_features.head()

,attrition,businesstravel,department,educationfield,gender,jobrole,maritalstatus,over18,overtime
0,yes,travel_rarely,sales,life_sciences,female,sales_executive,single,y,yes
1,no,travel_frequently,research_&_development,life_sciences,male,research_scientist,married,y,no
2,yes,travel_rarely,research_&_development,other,male,laboratory_technician,single,y,yes
3,no,travel_frequently,research_&_development,life_sciences,female,research_scientist,married,y,yes
4,no,travel_rarely,research_&_development,medical,male,laboratory_technician,married,y,no

In [556]:

def remove_low_variance_columns(data:DataFrame, threshold:float=0.95):
    """
    Removes low-variance categorical columns from a DataFrame.
    
    Args:
        - data: The input DataFrame.
        - threshold (float): The value above which a feature is considered low variance.

    Returns:
    - pd.DataFrame: The reduced DataFrame with low-variance columns removed.
    """
    if isinstance(data, pd.DataFrame):
        # Identify low-variance columns
        low_variance = [col for col in data.columns if data[col].value_counts(normalize=True).iloc[0] > threshold]
        print(f"Removed {len(low_variance)} low-variance columns: {low_variance}")
        
        # Drop the identified columns
        #df_reduced = data.drop(columns=low_variance)

        return low_variance
    else:
        raise TypeError("Input data must be a pandas DataFrame")

In [ ]:
isinstance(data, pd.DataFrame)

True

In [557]:
# test the function
low_variance_col = remove_low_variance_columns(categorical_features, threshold=0.95)

Removed 1 low-variance columns: ['over18']

In [558]:
categorical_features = categorical_features.drop(columns=low_variance_col)

##### remove the over18 columns

In [559]:
categorical_features.head()

,attrition,businesstravel,department,educationfield,gender,jobrole,maritalstatus,overtime
0,yes,travel_rarely,sales,life_sciences,female,sales_executive,single,yes
1,no,travel_frequently,research_&_development,life_sciences,male,research_scientist,married,no
2,yes,travel_rarely,research_&_development,other,male,laboratory_technician,single,yes
3,no,travel_frequently,research_&_development,life_sciences,female,research_scientist,married,yes
4,no,travel_rarely,research_&_development,medical,male,laboratory_technician,married,no

In [ ]:
def find_highly_correlated_categorical(data:DataFrame, threshold:float=0.8):
    """
    Identifies highly correlated categorical features in a DataFrame using Cramér's V.

    Parameters:
    - data: The input DataFrame.
    - threshold (float): The Cramér's V threshold above which columns are considered highly correlated.

    Returns:
    - list: A list of tuples containing pairs of highly correlated columns and their Cramér's V value.
    """
    # Function to calculate Cramér's V
    def cramers_v(x, y):
        confusion_matrix = pd.crosstab(x, y)
        chi2 = chi2_contingency(confusion_matrix)[0]
        n = confusion_matrix.sum().sum()
        return np.sqrt(chi2 / (n * (min(confusion_matrix.shape) - 1)))

    categorical_cols = data.select_dtypes(include="object").columns
    redundant_pairs = []

    for col1 in categorical_cols:
        for col2 in categorical_cols:
            if col1 != col2:
                cramer_value = cramers_v(data[col1], data[col2])
                if cramer_value > threshold:  # High correlation threshold
                    redundant_pairs.append((col1, col2, cramer_value))
    print("\nHighly Correlated Categorical Features:")
    for pair in redundant_pairs:
        print(f"{pair[0]} and {pair[1]}: Cramér's V = {pair[2]:.2f}")
    
    return redundant_pairs

In [560]:
high_corr_cate = find_highly_correlated_categorical(categorical_features, threshold=0.8)

Highly Correlated Categorical Features:
department and jobrole: Cramér's V = 0.94
jobrole and department: Cramér's V = 0.94

In [561]:
# Drop one of the highly correlated columns
categorical_features.drop(columns=['jobrole'], inplace=True)

In [562]:
categorical_features.head()

,attrition,businesstravel,department,educationfield,gender,maritalstatus,overtime
0,yes,travel_rarely,sales,life_sciences,female,single,yes
1,no,travel_frequently,research_&_development,life_sciences,male,married,no
2,yes,travel_rarely,research_&_development,other,male,single,yes
3,no,travel_frequently,research_&_development,life_sciences,female,married,yes
4,no,travel_rarely,research_&_development,medical,male,married,no

### Data labeling with one-hot and labelencoder for nominal and ordinal categorical data respectively.

In [570]:
def label_encode_categorical(data:DataFrame):
    """
    Encode categorical columns with numerical values using Label Encoding.
    
    Args:
        - data: The input DataFrame.
    
    Returns:
        - pd.DataFrame: The DataFrame with categorical columns encoded as numerical values.
    """
    label_enc = LabelEncoder()
    for col in data.select_dtypes(include='object').columns:
        data[col] = label_enc.fit_transform(data[col])
    return data

In [571]:
categorical_features = label_encode_categorical(categorical_features)

In [575]:
df_categorical = categorical_features.copy()
df_categorical.head()

,attrition,businesstravel,department,educationfield,gender,maritalstatus,overtime
0,1,2,2,1,0,2,1
1,0,1,1,1,1,1,0
2,1,2,1,4,1,2,1
3,0,1,1,1,0,1,1
4,0,2,1,3,1,1,0

In [576]:
df_categorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   attrition       1470 non-null   int64
 1   businesstravel  1470 non-null   int64
 2   department      1470 non-null   int64
 3   educationfield  1470 non-null   int64
 4   gender          1470 non-null   int64
 5   maritalstatus   1470 non-null   int64
 6   overtime        1470 non-null   int64
dtypes: int64(7)
memory usage: 80.5 KB

In [582]:
df_categorical.to_csv('../data/categorical_data.csv', index=False)

In [583]:
numerical_features = data.select_dtypes(include=[np.number])
numerical_features.head()

,age,dailyrate,distancefromhome,education,employeecount,employeenumber,environmentsatisfaction,hourlyrate,jobinvolvement,joblevel,...,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager
0,41,1102,1,2,1,1,2,94,3,2,...,1,80,0,8,0,1,6,4,0,5
1,49,279,8,1,1,2,3,61,2,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1373,2,2,1,4,4,92,2,1,...,2,80,0,7,3,3,0,0,0,0
3,33,1392,3,4,1,5,4,56,3,1,...,3,80,0,8,3,3,8,7,3,0
4,27,591,2,1,1,7,1,40,3,1,...,4,80,1,6,3,3,2,2,2,2

In [584]:
len(numerical_features.columns)

26

In [585]:
numerical_features.describe().T

,count,mean,std,min,25%,50%,75%,max
age,1470.0,36.923810,9.135373,18.0,30.00,36.0,43.00,60.0
dailyrate,1470.0,802.485714,403.509100,102.0,465.00,802.0,1157.00,1499.0
distancefromhome,1470.0,9.192517,8.106864,1.0,2.00,7.0,14.00,29.0
education,1470.0,2.912925,1.024165,1.0,2.00,3.0,4.00,5.0
employeecount,1470.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
employeenumber,1470.0,1024.865306,602.024335,1.0,491.25,1020.5,1555.75,2068.0
environmentsatisfaction,1470.0,2.721769,1.093082,1.0,2.00,3.0,4.00,4.0
hourlyrate,1470.0,65.891156,20.329428,30.0,48.00,66.0,83.75,100.0
jobinvolvement,1470.0,2.729932,0.711561,1.0,2.00,3.0,3.00,4.0
joblevel,1470.0,2.063946,1.106940,1.0,1.00,2.0,3.00,5.0
jobsatisfaction,1470.0,2.728571,1.102846,1.0,2.00,3.0,4.00,4.0
monthlyincome,1470.0,6502.931293,4707.956783,1009.0,2911.00,4919.0,8379.00,19999.0
monthlyrate,1470.0,14313.103401,7117.786044,2094.0,8047.00,14235.5,20461.50,26999.0
numcompaniesworked,1470.0,2.693197,2.498009,0.0,1.00,2.0,4.00,9.0
percentsalaryhike,1470.0,15.209524,3.659938,11.0,12.00,14.0,18.00,25.0
performancerating,1470.0,3.153741,0.360824,3.0,3.00,3.0,3.00,4.0
relationshipsatisfaction,1470.0,2.712245,1.081209,1.0,2.00,3.0,4.00,4.0
standardhours,1470.0,80.000000,0.000000,80.0,80.00,80.0,80.00,80.0
stockoptionlevel,1470.0,0.793878,0.852077,0.0,0.00,1.0,1.00,3.0
totalworkingyears,1470.0,11.279592,7.780782,0.0,6.00,10.0,15.00,40.0
trainingtimeslastyear,1470.0,2.799320,1.289271,0.0,2.00,3.0,3.00,6.0
worklifebalance,1470.0,2.761224,0.706476,1.0,2.00,3.0,3.00,4.0
yearsatcompany,1470.0,7.008163,6.126525,0.0,3.00,5.0,9.00,40.0
yearsincurrentrole,1470.0,4.229252,3.623137,0.0,2.00,3.0,7.00,18.0
yearssincelastpromotion,1470.0,2.187755,3.222430,0.0,0.00,1.0,3.00,15.0
yearswithcurrmanager,1470.0,4.123129,3.568136,0.0,2.00,3.0,7.00,17.0

In [586]:
corr_matrix = numerical_features.corr()
corr_matrix

,age,dailyrate,distancefromhome,education,employeecount,employeenumber,environmentsatisfaction,hourlyrate,jobinvolvement,joblevel,...,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager
age,1.000000,0.010661,-0.001686,0.208034,NaN,-0.010145,0.010146,0.024287,0.029820,0.509604,...,0.053535,NaN,0.037510,0.680381,-0.019621,-0.021490,0.311309,0.212901,0.216513,0.202089
dailyrate,0.010661,1.000000,-0.004985,-0.016806,NaN,-0.050990,0.018355,0.023381,0.046135,0.002966,...,0.007846,NaN,0.042143,0.014515,0.002453,-0.037848,-0.034055,0.009932,-0.033229,-0.026363
distancefromhome,-0.001686,-0.004985,1.000000,0.021042,NaN,0.032916,-0.016075,0.031131,0.008783,0.005303,...,0.006557,NaN,0.044872,0.004628,-0.036942,-0.026556,0.009508,0.018845,0.010029,0.014406
education,0.208034,-0.016806,0.021042,1.000000,NaN,0.042070,-0.027128,0.016775,0.042438,0.101589,...,-0.009118,NaN,0.018422,0.148280,-0.025100,0.009819,0.069114,0.060236,0.054254,0.069065
employeecount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
employeenumber,-0.010145,-0.050990,0.032916,0.042070,NaN,1.000000,0.017621,0.035179,-0.006888,-0.018519,...,-0.069861,NaN,0.062227,-0.014365,0.023603,0.010309,-0.011240,-0.008416,-0.009019,-0.009197
environmentsatisfaction,0.010146,0.018355,-0.016075,-0.027128,NaN,0.017621,1.000000,-0.049857,-0.008278,0.001212,...,0.007665,NaN,0.003432,-0.002693,-0.019359,0.027627,0.001458,0.018007,0.016194,-0.004999
hourlyrate,0.024287,0.023381,0.031131,0.016775,NaN,0.035179,-0.049857,1.000000,0.042861,-0.027853,...,0.001330,NaN,0.050263,-0.002334,-0.008548,-0.004607,-0.019582,-0.024106,-0.026716,-0.020123
jobinvolvement,0.029820,0.046135,0.008783,0.042438,NaN,-0.006888,-0.008278,0.042861,1.000000,-0.012630,...,0.034297,NaN,0.021523,-0.005533,-0.015338,-0.014617,-0.021355,0.008717,-0.024184,0.025976
joblevel,0.509604,0.002966,0.005303,0.101589,NaN,-0.018519,0.001212,-0.027853,-0.012630,1.000000,...,0.021642,NaN,0.013984,0.782208,-0.018191,0.037818,0.534739,0.389447,0.353885,0.375281
jobsatisfaction,-0.004892,0.030571,-0.003669,-0.011296,NaN,-0.046247,-0.006784,-0.071335,-0.021476,-0.001944,...,-0.012454,NaN,0.010690,-0.020185,-0.005779,-0.019459,-0.003803,-0.002305,-0.018214,-0.027656
monthlyincome,0.497855,0.007707,-0.017014,0.094961,NaN,-0.014829,-0.006259,-0.015794,-0.015271,0.950300,...,0.025873,NaN,0.005408,0.772893,-0.021736,0.030683,0.514285,0.363818,0.344978,0.344079
monthlyrate,0.028051,-0.032182,0.027473,-0.026084,NaN,0.012648,0.037600,-0.015297,-0.016322,0.039563,...,-0.004085,NaN,-0.034323,0.026442,0.001467,0.007963,-0.023655,-0.012815,0.001567,-0.036746
numcompaniesworked,0.299635,0.038153,-0.029251,0.126317,NaN,-0.001251,0.012594,0.022157,0.015012,0.142501,...,0.052733,NaN,0.030075,0.237639,-0.066054,-0.008366,-0.118421,-0.090754,-0.036814,-0.110319
percentsalaryhike,0.003634,0.022704,0.040235,-0.011111,NaN,-0.012944,-0.031701,-0.009062,-0.017205,-0.034730,...,-0.040490,NaN,0.007528,-0.020608,-0.005221,-0.003280,-0.035991,-0.001520,-0.022154,-0.011985
performancerating,0.001904,0.000473,0.027110,-0.024539,NaN,-0.020359,-0.029548,-0.002172,-0.029071,-0.021222,...,-0.031351,NaN,0.003506,0.006744,-0.015579,0.002572,0.003435,0.034986,0.017896,0.022827
relationshipsatisfaction,0.053535,0.007846,0.006557,-0.009118,NaN,-0.069861,0.007665,0.001330,0.034297,0.021642,...,1.000000,NaN,-0.045952,0.024054,0.002497,0.019604,0.019367,-0.015123,0.033493,-0.000867
standardhours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stockoptionlevel,0.037510,0.042143,0.044872,0.018422,NaN,0.062227,0.003432,0.050263,0.021523,0.013984,...,-0.045952,NaN,1.000000,0.010136,0.011274,0.004129,0.015058,0.050818,0.014352,0.024698
totalworkingyears,0.680381,0.014515,0.004628,0.148280,NaN,-0.014365,-0.002693,-0.002334,-0.005533,0.782208,...,0.024054,NaN,0.010136,1.000000,-0.035662,0.001008,0.628133,0.460365,0.404858,0.459188
trainingtimeslastyear,-0.019621,0.002453,-0.036942,-0.025100,NaN,0.023603,-0.019359,-0.008548,-0.015338,-0.018191,...,0.002497,NaN,0.011274,-0.035662,1.000000,0.028072,0.003569,-0.005738,-0.002067,-0.004096
worklifebalance,-0.021490,-0.037848,-0.026556,0.009819,NaN,0.010309,0.027627,-0.004607,-0.014617,0.037818,...,0.019604,NaN,0.004129,0.001008,0.028072,1.000000,0.012089,0.049856,0.008941,0.002759
yearsatcompany,0.311309,-0.034055,0.009508,0.069114,NaN,-0.011240,0.001458,-0.019582,-0.021355,0.534739,...,0.019367,NaN,0.015058,0.628133,0.003569,0.012089,1.000000,0.758754,0.618409,0.769212
yearsincurrentrole,0.212901,0.009932,0.018845,0.060236,NaN,-0.008416,0.018007,-0.024106,0.008717,0.389447,...,-0.015123,NaN,0.050818,0.460365,-0.005738,0.049856,0.758754,1.000000,0.548056,0.714365
yearssincelastpromotion,0.216513,-0.033229,0.010029,0.054254,NaN,-0.009019,0.016194,-0.026716,-0.024184,0.353885,...,0.033493,NaN,0.014352,0.404858,-0.002067,0.008941,0.618409,0.548056,1.000000,0.510224
yearswithcurrmanager,0.202089,-0.026363,0.014406,0.069065,NaN,-0.009197,-0.004999,-0.020123,0.025976,0.375281,...,-0.000867,NaN,0.024698,0.459188,-0.004096,0.002759,0.769212,0.714365,0.510224,1.000000

In [593]:

def remove_highly_correlated_features(data:DataFrame, threshold:float=0.8):
    """
    Removes highly correlated features from a numerical DataFrame.
    Args:
        data (DataFrame): The input numerical DataFrame.
        threshold (float): The correlation threshold above which features are dropped.

    Returns:
        pd.DataFrame: The reduced DataFrame with less correlated features.
        list: A list of the features that were dropped.
    """
    if not isinstance(data, pd.DataFrame):
        raise TypeError("Input data must be a pandas DataFrame.")

    # Compute the correlation matrix
    corr_matrix = data.corr()

    # Upper triangle of the correlation matrix
    upper_triangle = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))

    # Identify features to drop
    to_drop = [column for column in upper_triangle.columns if any(upper_triangle[column].abs() > threshold)]

    # Drop highly correlated features
    #reduced_data = data.drop(columns=to_drop)

    return to_drop

In [594]:
high_corr_num = remove_highly_correlated_features(numerical_features, threshold=0.8)
high_corr_num

['monthlyincome']

In [595]:
numerical_features = numerical_features.drop(columns=high_corr_num)

In [602]:
# test the function
low_variance_num_col = remove_low_variance_columns(numerical_features, threshold=0.95)

Removed 2 low-variance columns: ['employeecount', 'standardhours']

In [603]:
numerical_features = numerical_features.drop(columns=low_variance_num_col)

In [604]:
numerical_features.to_csv('../data/numerical_data.csv', index=False)

In [605]:
numerical_features.head()

,age,dailyrate,distancefromhome,education,employeenumber,environmentsatisfaction,hourlyrate,jobinvolvement,joblevel,jobsatisfaction,...,performancerating,relationshipsatisfaction,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager
0,41,1102,1,2,1,2,94,3,2,4,...,3,1,0,8,0,1,6,4,0,5
1,49,279,8,1,2,3,61,2,2,2,...,4,4,1,10,3,3,10,7,1,7
2,37,1373,2,2,4,4,92,2,1,3,...,3,2,0,7,3,3,0,0,0,0
3,33,1392,3,4,5,4,56,3,1,3,...,3,3,0,8,3,3,8,7,3,0
4,27,591,2,1,7,1,40,3,1,2,...,3,4,1,6,3,3,2,2,2,2